@font-face {
    font-family: tek;
    src: url(http://ff.static.1001fonts.net/v/a/vanilla-whale.regular.ttf);
}
#mxb{
	text-align: center;
	font-size: 150px;
	font-family: tek;
	color: white;
}
label{
	top: 10px;
	padding: 10px;
	color: white;
	font-size: 35px;
} 

#botones{
	text-align: center;
	padding: 10px;
}

#botones button{
	text-align: center;
	font-family: tek;
	font-size: 35px;
	color: #89cff0;
	background-color: white;
	padding: 5px;
}

input[type=radio]{
	display: none;
}

input[type=radio]:checked + label{
	color: #FFFF99;
}

* {
	margin: 0px;
	padding: 0px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#deck{ 
	border: 10px white solid;	
	display: block;
	z-index: 10; 
	position: fixed; 
	right: 20px; 
	top: 230px; 
	width: 190px;
	height: 298px
}

body {
	background-color: #89cff0;
	font-family: tek;
	text-rendering: optimizeLegibility;
}

#pic{
	width: 128px;
	height: 150px;
}

#container {
	width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: none;
}	

#header, #footer {
	display: block;
	float: left;
	width: 559px;
	text-align: center;
	color: #b22222;
   	background-color: none;
	font-size: 2.8em;
	padding: 8px 20px 8px 20px;
	transition-property: background-color;
	transition-duration: 1s;
	-moz-transition-property: background-color;
	-moz-transition-duration: 1s;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 1s;
}

#footer {
	text-align: center;
	font-size: 1.4em;
	padding: 3px 20px;
	margin-bottom: 50px;
	background-color: #FFFF99;
}

#footer a {
	text-decoration: none;
	color: #b22222;
}

#board {
	display: block;
	float: left;
	width: 600px;
	background-color: white;
	margin-bottom: 10px;
	box-shadow: 0px 3px #fff;
}

.square, .freesquare {
	display: block;
	float: left;
	overflow: hidden;
	background-color: #fff;
	color: #313131;
	text-align: center;
	width: 142px;
	height: 150px;
	padding: 3px;
	border: 1px solid #d1d1d1;
	transition-property: background-color;
	transition-duration: 1s;
	-moz-transition-property: background-color;
	-moz-transition-duration: 1s;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 1s;
}

.selected {
	color: #f1f1f1;
	background-color: #FFFF99;
}

.text {
	font-family: tek;
	vertical-align: middle;
	font-size: 1.2em;
	line-height: .2em;
}

.small {
	font-size: 0.8em;
}

.medium {
	font-size: 1.0em;
}

.large {
	font-size: 1.2em;
}

.win {
	color: white !important;
   	background-color: #b22222;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

	#container {
		width: 640;
		margin: -7px 0px 0px -7px;
	}

	#header {
		font-size: 3.6em;
		text-align: center;
		padding: 20px 20px 12px 20px;
	}
	
	#footer {	
		padding: 16px 20px 8px 20px;
		font-size: 2.0em;
	}

	.text {
		font-size: 1.2em;
		line-height: 1.2em;
	}
}