@font-face {
    font-family: sci;
    src: url(http://ff.static.1001fonts.net/s/p/space-age.spaceage.otf);
}

@font-face {
    font-family: tek;
    src: url(http://ff.static.1001fonts.net/m/a/marske.regular.otf);
}

html{
	position: relative;
  min-height: 100%;
  background: url(stars.gif) no-repeat center center fixed; 
  background-size: cover;
}


#search-json-input {
	color: #00FF00;
	background-color: black;
	font-size: 18px;
	border-color: #00FF00;
}

#search-json-submit {
	color: #00FF00;
	background-color: black;
	font-size: 18px;
	border-color: #00FF00;
	margin-left: -8px;

	position:relative;
    padding:1px 15px;
    left:-8px;
    border:2px solid #00FF00;
}

#search-json-submit:hover {
	color: black;
	background-color: #00FF00;
}

#title{
	font-family: sci;
	color: #00FF00;
	font-size: 70px;
	text-align: center;
}

p{
	font-family: tek;
	text-align: center;
	color: #00FF00;
	font-size: 35px;
}

table{
	text-align: center;
	color: #00FF00;
	font-size: 35px;
}

#search-output{
	color: #00FF00;
}

#save_world{
	font-family: tek;
  font-size: 50px;
	text-decoration: none;
	color: black;
  width: 100%;
	background-color: #00FF00;	
}

footer {
	font-family: tek;
	padding: 1px;
	text-align: center;
	background-color: #00FF00;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

#lista{
	font-size: 20px;
	padding: 5px;
	list-style-type: none; 
}

#date{
	color: #00FF00;
	padding: 5px;
	text-align: left;
}

#location{
	color: #00FF00;	
	padding: 5px;
	text-align: left;	
}

#description{
	color: #00FF00; 
	padding: 5px;	
}

#defaultCanvas0{
  display: none;
}